@model PokemonPageModel

<div class="container py-4">
    
    <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-1 p-2">
            <p class="fw-bold">Filtrar:</p>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2">
            <input type="text" placeholder="Buscar Pokémon por nombre..." id="searchBox" class="form-control" />
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2">
            <select id="speciesSelect" class="form-select">
                <option value="">-- Filtrar por especie --</option>
            </select>
        </div>
        
    </div>

        <div id="pokemonList">
            @await Html.PartialAsync("PokemonListPartial", Model)
        </div>


    <!-- Spinner de carga -->
    <div id="loadingSpinner" class="text-center mt-4 d-none">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Cargando...</span>
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <button class="btn-lg btn-success" id="btnExportExcel">
                Exportar a Excel
            </button>
            <!-- Spinner oculto inicialmente -->
            <div id="exportSpinner" class="spinner-border text-success ms-2 d-none" role="status">
                <span class="visually-hidden">Exportando...</span>
            </div>
        </div>
        <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <button class="btn-lg btn-secondary" data-bs-toggle="modal" data-bs-target="#emailModal">Enviar correo</button>
        </div>
    </div>

</div>


<div class="modal fade" id="emailModal" tabindex="-1" aria-labelledby="emailModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="emailForm">
                <div class="modal-header">
                    <h5 class="modal-title" id="emailModalLabel">Enviar reporte por correo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="emailInput" class="form-label">Correo destinatario</label>
                        <input type="email" class="form-control" id="emailInput" required />
                    </div>
                    <div id="emailStatus" class="text-muted small d-none">Enviando correo...</div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="pokemonModal" tabindex="-1" aria-labelledby="pokemonModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pokemonModalLabel">Detalles del Pokémon</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <div id="pokemonModalContent" class="text-center">
                    <p>Cargando...</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/pokemonScript.js"></script>

