@{
    ViewData["Title"] = "Pagina de bienvenida";
}

<div class="text-center">
    <h1 class="fw-bold display-4 text-warning shadow p-2 mb-3 bg-primary rounded">Bienvenido a mi aplicacion de</h1>
    <img class="img-fluid rounded" src="https://i.pinimg.com/originals/85/9e/03/859e0396b1c628832ba6b7c47c4a95b5.jpg" />
    <h3 class="fw-bold text-warning mt-2">Hecha por Orlando Ruben De La Rosa Garcia</h3>
</div>
